@import "variables/colors";
@import "variables/typography";
@import "variables/breakpoints";
@import "globals/mixins";


.top-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $secondaryBg;
}

.top-menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-menu__logo {
  color: $primary;
  font-size: $font-size-big;
  @include mq($tablet) {
    font-size: 2em;
  }
}

.top-menu__name {
  margin-right: 5px;
  color: $font-light;
  font-size: $font-size-small;
  @include mq($tablet) {
    font-size: $font-size-regular;
  }
}
