.btn {
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  background-color: $primary;
  text-align: center;
  color: black;
  box-shadow: 3px 3px $primaryBtnBg;
}

@media (min-width: 545px){
  .btn {
    height: 40px;
  }
}

@media (min-width: 1200px){
  .btn {
    height: 40px;
    box-shadow: 5px 5px $primaryBtnBg;
  }
}
