@import "variables/colors";
@import "variables/dimensions";
@import "variables/typography";
@import "variables/breakpoints";
@import "globals/mixins";

.table {
  position: relative;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  color: $font-light;
  td {
    padding: 10px;
  }

  @include mq($tablet){
    width: 600px;
    td {
      padding: 15px 20px;
    }
  }
}

.table__headers {
  height: 40px;
  padding: 5px;
  font-weight: $font-medium;
  background-color: lighten($secondaryBg, 3);
}

.table__row {
  cursor: pointer;
  font-size: $font-size-small;
  background-color: lighten($primaryBg, 2);
}

.table__row--odd {
  color: $font-gray;
  background-color: lighten($primaryBg, 3);
}

.table__row:hover {
  color: black;
  background-color: $primary;
  font-weight: $font-medium;
}

.table__sign {
  color: $primary;
  @include mq($tablet){
    margin-left: 5px;
  }
}

.table__lp {
  width: 30px;
  @include mq($tablet) {
    width: 60px;
    padding: 10px 15px;
  }
}

.table__title {
  cursor: pointer;
  @include mq($tablet) {
    padding: 15px 20px;
  }
}

.table__year {
  width: 41px;
  cursor: pointer;
  @include mq($tablet) {
    width: 100px;
    padding: 15px 20px;
  }
}

.table__metascore {
  width: 70px;
  cursor: pointer;
  @include mq($tablet) {
    width: 140px;
    padding: 15px 20px;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.7);
  width: 100%;
  height: 100%;
  border-color: transparent;
}
