<form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="error" *ngIf="!!error">{{ error }}</div>
  <label class="login__group">
    Email:
    <div class="error" *ngIf="isFieldValid('login')">Enter Account name!</div>
    <input type="text" name="login" class="login__field" required formControlName="login">
  </label>
  <label class="login__group">
    Password:
    <div class="error" *ngIf="isFieldValid('password')">Enter password!</div>
    <input type="password" class="login__field" name="password" required formControlName="password">
  </label>
  <input type="submit" name="submit" class="btn login__btn" value="Zaloguj" *ngIf="!loading">
  <img rel="prerender" src="../../../../../../assets/loader.svg" *ngIf="loading">
</form>
