$primary: #ffd00a;
$secondary: #ccc;
$primaryBg: #262525;
$secondaryBg: #141414;
$white: #fff;
$error: #ff4343;
$primaryBtnBg: #434343;
$font-light: $white;
$font-gray: $secondary;
$font-dark: $primaryBg;


