.hello-message {
  font-size: 200%;
  text-align: center;
  border: 5px dashed black;
  width: fit-content;
  margin: auto;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: darken(greenyellow, 10);
}


