@import "partial/colors";

.currPage {
  font-weight: bold;
}

.pagination {
  border-collapse: collapse;
  margin: auto;
  margin-top: 5px;
  background-color: $primary;
  td {
    border: 1px solid black;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
  }
}
